*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3{
    margin: 1rem 0;
}

div.container{
    display: flex;
}

.text-bold{
    font-weight: bold;
    margin-right: .5rem;
}

.film-card{
    width: calc(100%/4 - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(182, 178, 178);
    margin: 1rem;
}

.img-container{
    height: 70%;
    display: flex;
    justify-content: center;
}